body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// #app,
#app > .login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    display: flex;
    align-items: center;
    > div {
      flex-grow: 1;
    }
  }
}

#app > .sidebar-page {
  .rs-header {
    padding: 0.5rem 1.5rem;
    background-color: var(--rs-bg-card);
    // height: 56,
    h2 {
      font-size: 32px;
    }
  }

  .rs-dropdown .rs-navbar-item {
    height: 46px;
  }

  .rs-sidenav-header {
    background: #116588;
    white-space: "nowrap";
    overflow: "hidden";
    a {
      font-weight: 700;
      transition: 0.3s;
      width: 100%;
      display: inline-block;
      font-size: 20px;
      line-height: 50px;
      padding: 0.5rem 1rem;
      color: #fff;
      &:hover {
        text-decoration: none;
        background-color: var(--rs-sidenav-default-hover-bg);
      }
    }
  }
  .rs-content {
    background-color: var(--rs-bg-card);
    margin: 1.5rem;
    padding: 1.5rem;
  }

  .rs-sidebar {
    .navbar-brand {
      display: flex;
      align-items: center;
    }
  }

  .rs-sidenav {
    .rs-icon,
    .rs-sidenav-item-icon {
      font-size: 16px;
      height: 16px;
      left: 20px;
      line-height: 1.25;
      margin-right: 20px;
      position: absolute;
      top: 17px;
    }
  }
}

.site_header {
  display: flex;
  justify-content: space-between;
}

.header_inside {
  display: flex;
  align-items: center;
}

.rs-message {
  margin: 1rem 1.5rem 0;
}

.buttons_container {
  gap: 0.5rem;
}

.content_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rs-radio-wrapper {
  cursor: pointer;
  input[type="radio"] {
    pointer-events: none;
  }
}

// .rs-message-container .rs-btn-close {
//   right: 28px;
//   .rs-icon {
//     top: 0;
//   }
// }
